

.tesla_container {
	margin: 100px auto 150px auto;
	max-width: 1050px;
	h1 {
		width: 100%;
		font-family: 'RobotoRegular';
		font-weight: 100;
		font-size: 38px;
		text-align: center;
		letter-spacing: 3px;
	}
}