* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}